.main {
    width: 100%;
    display: flex;
}
.container-main {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.container-left img, .container-center img, .container-right img{
  width: 100%;
   object-fit: cover;	
   cursor: pointer;
 

   
}
.container-left a, .container-center a, .container-right a{
    text-align: center;
    display: flex;
    
 
}
h2 {
    font-family: "Poiret One", serif;
    font-size: 45px;
    font-weight: 800;
    text-shadow: 10px 10px 10px white;

}

  
.container-main p {
    font-family: "Poiret One", serif;
    font-size: 16px;
    padding: 6px 5px;
    text-align: justify;
    text-indent: 20px;
    display: flex;
flex-direction: column;



}
.container-left {
    width: 20%;
border: 3px solid white;
text-align: center;
}
.container-center {
    width: 60%;
    border: 3px solid white;
}
.container-right {
    width: 20%;
    border: 3px solid white;
}
